@charset "utf-8";
@import "nib"
@import "_bass/variables"

global-reset()

input, button
  margin: 0
  padding: 0
  &::-moz-focus-inner
    border: 0
    padding: 0

@font-face
  font-family: FontAwesome
  font-style: normal
  font-weight: normal
  src: url(font-icon-path + ".eot?v=#" + font-icon-version)
  src: url(font-icon-path + ".eot?#iefix&v=#" + font-icon-version) format("embedded-opentype"),
       url(font-icon-path + ".woff?v=#" + font-icon-version) format("woff"),
       url(font-icon-path + ".ttf?v=#" + font-icon-version) format("truetype"),
       url(font-icon-path + ".svg#fontawesomeregular?v=#" + font-icon-version) format("svg")

body
  background: color-background
  color: color-default
  font: font-size font-sans
  text-rendering: optimizelegibility
  -webkit-text-size-adjust: 100%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.see-more
  position: absolute
  top: 30px
  right: 30px
  background-color: #000
  border-radius: 9999px
  height: 150px
  width: 150px
  color: #fff
  font-weight: bold
  font-size: 20px
  text-align: center

.see-more, see-more-inside
  transition: all 0.3s

.see-more-inside
  margin: 20px 20px 20px 20px 

.see-more:hover
  height: 180px
  width: 180px
  font-size: 26px

#ext
  text-align: center
  font-size: 25px

#ext small
  font-size: 15px

@import "_bass/bass"
@import "_bass/syntax"
@import "_partial/header"
@import "_partial/article"
@import "_partial/article-gallery"
@import "_partial/article-nav"
@import "_partial/archive"
@import "_partial/footer"
@import "_partial/rwd"